@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
    background: #261f37;
    font-family: Nunito, sans-serif;
    padding-left: 2em;
    padding-right: 2em;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
}

.text-container {
    position: relative;
}

h1 {
    color: white; 
    display: block;
    font-size: 2.15em;
}

span {
    color: #A78BFA;
    display: inherit;
}

p {
    color: #D5D4D8;
    margin-bottom: 1.5em;
}

.text-container p {
    font-size: 1.045em;
}

button {
    display: block;
    background: #744ece;
    padding: 1em 2em;
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: 550;
    margin-top: 1em;
    font-size: 0.9em;
    width: 20em;
}

button:hover {
    background: rgb(102, 49, 194);
    cursor: pointer;
}

button:active {
    background: #7e55db;
    transform: scale(0.9);
}

.text-container::after {
    position: absolute;
    content: '';
    height: .025em;
    width: 18em;
    left: 0;
    bottom: -2em;
    z-index: -1;
    background-color: #42365e;
}

.passwords {
    margin-top: 3em;
    margin-left: 7em;
    display: inline-block;
}

#password {
    display: inherit;
    width: 18em;
    height: 2em;
    background: #42365e;
    border-radius: 7px;
    padding: 0.7em 0 0.3em 0;
    color: #A78BFA;
    text-align: center; 
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 10em;
}

#password:hover {
    cursor: copy;
}

fieldset {
    border: none;
    color: #D5D4D8;
    margin-left: -0.75em;
}

.characters {
    margin-left: 4em;
}

.characters[value="10"] {
    margin-left: 0.5em;
}

.questions-container {
    background: #332a47;
    border-radius: 5px;
    margin-bottom: 2em;
    padding-top: 0.25em;
    padding-left: 1em;
    line-height: 1.5em;
    width: 17em;
}