/* html, body */

html, body {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 325px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid rgb(156, 156, 156);
    box-shadow: 0px 10px 20px #bfbfc0;
    border-radius: 10px;
}

/* header */

#header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 12.5px 15px 7px 15px;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon.logo {
    width: 70px;
}

/* main */

#hero {
    position: relative;
    z-index: 0;
}

#hero-img {
    width: 95%;
    height: 450px;
    display: block;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
}

#hero-description {
    position: absolute;
    z-index: 1;
    bottom: 12.5px;
    left: 22.5px;
}

#name-age, #bio {
    padding: 0;
    margin: 0;
    color: #F8F8F8;
}

#name-age {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

#bio {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 200;
    width: 275px;
}

.badge {
    width: 125px;
    height: 63px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 18px;
    transform: rotate(-30deg);
}

#end-message {
    width: 90%;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

#end-message p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 15px 10px;
}

#try-again-btn {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    background: linear-gradient(270deg, #FA695A 0%, #F83375 100%);
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
}

/* actions */

#actions {
    display: flex;
    justify-content: center;
}

.action-btn {
    margin: 15px 10px;
    padding: 15px 17px 13px 17px;
    border-radius: 50%;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #bfbfc0;
}

button:hover {
    cursor: pointer;
}

#like-btn:hover {
    background: #DBFFF4;
}

#nope-btn:hover {
    background: #FFE7EF;
}

.action-btn img {
    width: 22px;
    height: 22px;
}
