*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-image: url(./images/table.png);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.upper-container {
    height: 35px;
    display: flex;
}

button#new-deck,
h3#remaining {
    align-self: flex-start;
    font-size: 1.35rem;
    height: 100%;
    padding: 5px 10px;
}

h3#remaining {
    font-weight: 200;
}

h1#title {
    text-shadow: 2px 1.5px 5px rgb(0, 0, 0);
}

button {
    font-family: inherit;
    font-size: 1.75rem;
    background-color: rgb(225, 228, 61);
    border: none;
    color: rgb(25, 58, 11);
    padding: 7px 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(188, 211, 57);
}

.game.container {
    align-items: center;
}

.card-placeholder, img {
    height: 165px;
    width: calc(165px * 5 / 7);
    border: 1px solid black;
    border-radius: 7px;
}

button#draw-cards {
    margin-top: 10px;
}
