@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #282d35;
}

div#root {
  padding: 0;
}

div.container {
  height: 100vh;
  background-image: url('D:\Kate JS\scrimba\fe career path\m11_project1_react-info-site\src\images\react-icon-large.png');
  background-repeat: no-repeat;
  background-position: right 55%;
  background-size: 175px;
}

/* header */

header {
  padding: 20px;
  box-shadow: 1px 2px 3px #21222a;
  background-color: #21222a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--logo-container {
  display: flex;
  align-items: center;
}

.nav--icon {
  width: 50px;
  height: 50px;
}

.nav--logo-text {
  margin-left: 10px;
  color: #61dafb;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav--title {
  padding: 0;
  width: 225px;
  font-size: 1.15rem;
  text-decoration: none;
  color: #deebf8;
  font-weight: 400;
}

/* main */

main{
  color: #ffffff;
  height: 100%;
  width: 550px;
  margin: 0 auto;
}

.main--title {
  font-size: 2.75rem;
  margin-top: 75px;
  margin-bottom: 45px;
  font-weight: 700;
  padding-left: 20px;
  letter-spacing: -0.05em;
}

.main--ul-list {
  margin: 0 50px;
}

.main--ul-list li::marker {
  color: #61dafb;
  font-size: 1.75rem;
  line-height: 1rem;
}

.main--li-item {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 20px;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #4d545f;
  color: #deebf8;
}