body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;

    background: url("https://img.freepik.com/premium-photo/green-poker-table-felt-background-with-shade-vignette_48277-156.jpg?w=2000");
    background-size: cover;

    overflow: hidden;
}

.container {
    margin: 75px 200px;
    padding: 25px 50px;

    background-color: green;
    border: 5px solid goldenrod;
    border-radius: 10px;
}

h1 {
    color: goldenrod;
}

#verdict-message {
    font-style: oblique;
}

#start-game-button, #new-card-button {
    width: 250px;
    height: 50px;
    margin: 5px 3px;
    
    color: green;
    background: goldenrod;
    border: none;
    border-radius: 5px;

    font-weight: bold;
    font-size: 1.25rem;
}

#start-game-button:hover, #new-card-button:hover {
    color: goldenrod;
    background: green;
    border: 3px solid goldenrod;
    cursor: pointer;
}

#start-game-button:active, #new-card-button:active {
    color: goldenrod;
    background: rgb(1, 99, 1);
    border: 3px solid rgb(168, 129, 28);

    transform: scale(0.9);
    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    body {
        font-size: 1.25rem;
    }
    .container {
        margin: 75px 100px;
        padding: 12.5px 25px;
    }
    #start-game-button, #new-card-button {
        width: 175px;
        height: 35px;
    }
}