* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0px 0px 5px black;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* crypto and weather */

div#crypto-weather {
    display: flex;
    justify-content: space-between;
}

/* crypto */

div#crypto-top {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

div#crypto-top img {
    width: 20px;
    height: 20px;
}

div#crypto-bottom {
    display: flex;
    gap: 10px;
}

div#crypto-bottom > p {
    margin: 0;
}

/* weather */

div#weather {
    width: 100px;
    height: 100px;
    text-align: end;
}

div#weather-top {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    font-weight: 600;
}

div#weather-top > img {
    width: 50px;
    height: 50px;
}

div#weather-top > span {
    line-height: 50px;
    font-size: 1.5rem;
}

div#weather > p {
    margin-top: 0;
    font-size: 0.9rem;
}

/* time and date */

h1#time {
    text-align: center;
    font-size: 5rem;
    margin: 0;
}

p#date {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

/* img author */

p#img-author {
    font-weight: 600;
}
